 html   body{
     margin: 0;
    width: 100%;
    height: 100%;
    background: #E6E6FA;

    font-family: 'Amaranth', sans-serif;
}
#conte {
    float: left;
    max-width: 100%;
    min-height: 500px;
    height: 100%;

    width: 100%;
    
}
/*---------------------------------------------header----------------------------------------------------------------------------*/
header{
   float: left;
    height: 25%;
    background: #E6E6FA;
}
#logo{
    width: 100%;
}
header img{
    float: left;
    width: 15%;
    height: 100%;
    
}
.box img{
    margin-left: 1%;
    margin-top: 1%;
    max-width: 30%;
    height: 90%;
    float: left;
    border-radius: 6px;
}
.box {
    float: right;
    margin-top: 0.5%;
    width:40%;
    height:130px;
    background-image:url("http://fotorecurso.com/images/2016/04/29/fondo-azul-blue-cuadros-fotorecurso.jpg");
    


}
p#bienvenida{
    margin-left: 20%;
    max-width: 100%;
    font-size: larger;
    font-family: 'Amaranth', sans-serif;

}
p#fecha{
    max-width: 100%;
    margin-left: 19%;
    font-size: medium;
    font-family: 'Amaranth', sans-serif;
}
input#slir{

    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #ffffff;
    padding: 3px 4px 3px 4px;
    border: solid #88ccf7 2px;
    text-decoration: none;

    margin-left: 50%;
    margin-top: -2%;

}
input#slir:hover{


    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;


}
.effect1{
    -webkit-box-shadow: 0 10px 6px -6px black;
    -moz-box-shadow: 0 10px 6px -6px black;
    box-shadow: 0 10px 6px -6px black;
    border-radius: 5px;
}
.ident tr{
    background: black;
    
}
/*---------------------------------------------Nav---------------------------------------------------------------------------------*/
nav{
    padding: 0 1em;
    height: 44px; /* Menu height */
    overflow: hidden; /* Don't show anything outside the nav */
    background:#2E4053;
    width: 100%;
    
}
nav ul {
  margin: 0 ;
  padding: 0;
  list-style-type: none;
  max-height: 88px; /* Menu height x 2 */
  position: relative; /* Position the menu button relative to this item */
}
nav li { display: inline-block; }

nav a {
  display: inline-block;
  padding: 0 1em;
  color: white;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  
  line-height: 44px; /* Menu height */
  height: 44px; /* Menu height */
}

nav a:hover { 
    background-color:rgba(255,255,255,0.1);
}

nav li:last-child { /* The menu button */
  position: absolute; /* Move the menu button out of flow */
  right: 0;
  bottom: 44px; /* Move upwards, the same distance as the menu height */
  background-image: linear-gradient(to right, rgba(46, 64, 83, 0) 0, rgba(46, 64, 83, 1) 2em);
  padding-left: 3em;
}

nav li:nth-last-child(2) { /* The close button */ display: none; }

nav#menu:target {
  height: auto;
  padding: 0;
}

nav#menu:target ul { max-height: none; }

nav#menu:target li { display: block; }

nav#menu:target a {
  display: block;
  padding: 0 2em;
  background-color: rgba(255, 255, 255, 0.05);
}

nav#menu:target a:hover { background-color: rgba(255, 255, 255, 0.08); }

nav#menu:target li:not(:first-child) { margin-top: 2px; }

nav#menu:target li:last-child { display: none; }

nav#menu:target li:nth-last-child(2) {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border-left: 2px solid rgb(19, 51, 61);
}
/*---------------------------------------------Footer------------------------------------------------------------------------*/
footer{
    width: 100%;
    height: 70px;
    float: left;
    clear:both;
    background: #2E4053;

    bottom: 0;

    
}
footer section{
    width: 50%;
    height: 100%;
    float: left;
    
}



 #redes {
    width: 50%;
    height: 100%;
    float: left;
    
}
#twiter{
    width: 32%;
    height: 100%;
   
    float: left;
}
#twiter a{
    width: 100%;
    height: 100%;
   
    float: left;
}
#twiter a img{
 height: 100%;
}

#email{
    width: 32%;
    height: 100%;
   
    float: left;
    
}
#email a{
    width: 100%;
    height: 100%;
   
    float: left;
}
#email a img{
 height: 100%;
}
#facebook{
    width: 32%;
    height: 100%;
    float: left;
    
}
#faceebok a{
    width: 100%;
    height: 100%;
   
    float: left;
}
#facebook a img{
 height: 100%;
}
/*---------------------------------Indice--------------------------------------------------------*/


/*----------------------------------------------form------------------------------------------*/
.registro{
    float: left;
    width: 50%;
    margin-left: 25%;
    height: 100%;
    text-align: center;
    margin-bottom: 2.5%;
   
}
.registro #head{
    float: left;
    width: 100%;
    margin-top: 1%;
    background: #2471A3;
    border-radius: 22px 22px 0px 0px;
}
.registro #rest{
    float: left;
    margin: 0%;
    width: 100%;
    background: #FFFFF0;
    border-radius: 0px 0px 22px 22px ;
}
.obligado{
    color: red;
    font-size: 20px;
}
.registro table{
   margin-left: 10%;
}
.registro table th{
    text-align: right;
    padding: 0.3em; 
}
.registro table td{
    text-align: right;
    padding: 0.3em; 
}
input[type="text"] {
    background: url(imagenes/boli.png) no-repeat 5px 5px white;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: dimgray;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 12px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;}
input[type="password"] {
    background: url(imagenes/key.png) no-repeat 5px 5px white;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #777;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 12px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;}
input[type=submit] {
    margin:3%; 
    width: 30%;
    background-color: #2471A3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    
    
    
}
#boton{
    margin-top: 10%;
}
#nick {
    
    margin-top: 10%;
}
#pass{
  
    margin-top: 5%;
}
/*-Indice-*/
#bases{
    width: 70%;
    max-width: 70%;
    float: left;
    height: 100%;
}
#bases h2{
    margin: 0.5%;
}
.arroz{
     max-width: 40%;
    max-height: 40%;
    float: left;
    
     margin: 0% 1%;
    
}
.arroz img{
    max-width: 100%;
    float: left;
    margin-right: 2%;
    
}
.arroz h4{
    margin: 3% 0%;
}
.verduras{
     max-width: 40%;
    max-height: 40%;
    float: left;
    
    margin: 0% 2%;
}
.verduras h4{
    margin: 3% 0%;
    
}
.verduras img{
    float: left;
    margin-right: 2%;
     max-width: 100%;
    
}
.fideos{
     max-width: 40%;
    max-height: 40%;
    width: 40%;
    height: 45%;
    float: left;
     margin: 2% 1%;

}
.fideos h4{
    margin: 3% 0%;
}
.fideos img{
    float: left;
    margin-right: 2%;
     max-width: 100%;
    
}
.precio{
    float: left;
    font-weight: bold;
}
ul.food{
    float: left;
    width: 20%;
    max-width: 20%;
    list-style-image: url(imagenes/food.png);
}
ul.salsas{
        float: left;
    width: 20%;
    max-width: 20%;
     list-style-image: url(imagenes/salsa.png);
}

/*----------------------------------------------Contactos-------------------------------------*/
.datos{
    float: left;
    width: 20%;
    height: 100%;
    margin-left: 0.5%;
}
.mapa{
    float: left;
    width: 60%;
    height: 100%;
    margin-left: 15%;
}
/*--Pedido--*/
section.bases{

}
section.ingredietes{


}
input[type=radio]  {
    padding-left:5px;
    padding-right:5px;
    border-radius:15px;

    -webkit-appearance:button;

    border: double 2px #000;

    background-color:darkgrey;
    color:#FFF;
    white-space: nowrap;
    overflow:hidden;

    width:15px;
    height:15px;
}

input[type=radio]:checked {
    background-color:#1300ff;

}


input[type="checkbox"]   {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 15px 0 0;
    vertical-align:middle;

}

table#historial {
    border-collapse: collapse;
    width: 97%;

    margin: 1%;
}

table#historial th, td {
    text-align: left;
    padding: 8px;
}

table#historial tr:nth-child(even){background-color: lightgrey}
table#historial thead tr th:first-child {
    background-color: steelblue;
    text-align: center;

}

table#historial th {
    background-color:  royalblue;
    color: white;
}
h1 h2 h3 h4 h5 h6 {
    font-family: 'Kaushan Script', cursive;
}
p {
    font-family: 'Kavoon', cursive;
}
p#nservido{
    color: red;
}
p#servido{
    color: green;
}
#abase{
    float: left;
    width: 45%;
}
#aing{
    float: left;
    width: 45%;
}
table.ing{
    height: 400px;
    width: 100%;
}
#eliminar{
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 3px 9px 4px 10px;
    text-decoration: none;
}





.tbase input[type="submit"],.ing  input[type="submit"]{

    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 3px 9px 4px 10px;
    text-decoration: none;


}
.tbase input[type="text"]{

    width: 100px;

}
#idbas{
    width: 50px;
}

.tbase,.ing {

    border: solid #ccc 1px;

    -moz-border-radius: 6px;

    -webkit-border-radius: 6px;

    border-radius: 6px;

    -webkit-box-shadow: 0 1px 1px #ccc;

    -moz-box-shadow: 0 1px 1px #ccc;

    box-shadow: 0 1px 1px #ccc;

}



.tbase tr:hover,.ing tr:hover  {

    /*background: #fbf8e9;*/

    background: #feecd8;

    -o-transition: all 0.1s ease-in-out;

    -webkit-transition: all 0.1s ease-in-out;

    -moz-transition: all 0.1s ease-in-out;

    -ms-transition: all 0.1s ease-in-out;

    transition: all 0.1s ease-in-out;

}



.tbase td, .tbase th,.ing td, .ing th {

    border-left: 1px solid #ccc;

    border-top: 1px solid #ccc;

 

    text-align: left;

    vertical-align: top;

}



.tbase th,.ing th {

    background-color: #dce9f9;

    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));

    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);

    background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);

    background-image:	 -ms-linear-gradient(top, #ebf3fc, #dce9f9);

    background-image:	 -o-linear-gradient(top, #ebf3fc, #dce9f9);

    background-image:		 linear-gradient(top, #ebf3fc, #dce9f9);







    border-top: none;

    text-shadow: 0 1px 0 rgba(255,255,255,.5);

}


input#boton1{
     background-color: transparent;
     background-image: url('imagenes/mod.png');
     background-repeat: no-repeat;
     width: 50px;
     height: 50px;

 }
input#boton2{
    background-color: transparent;
    background-image: url('imagenes/add.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;

}
input#boton3{
    background-color: transparent;
    background-image: url('imagenes/delete.png');
    background-repeat: no-repeat;
    width: 100px;
    height: 50px;


}